<body>
    <div class="container">
        <h2>Job Manager</h2>
        <br>
        <form action="/">
            <button type= "submit" class="btn btn-info">Go to main page</button>
        </form>
        <br>
        <h2>Edit Job <div style="color: red; display: inline-block;"><%= job.jobId%></div></h2>
        <br>
        <% if(typeof message != 'undefined'){ %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% } %>
        
        <row>
            <col md="4">
            <form action="/API446/editJobDetail/<%= job.jobId%>" method="POST">
                <div class="form-group">
                    <label for="partName">Part Id</label>
                    <input type="number" required value="<%= job.partId %>" class="form-control" name="partId" placeholder="Please enter the new partId.">
                </div>
                <div class="form-group">
                    <label for="qoh">Quantity </label>
                    <input type="text" class="form-control" value="<%= job.qty %>" name="qty"  placeholder="Please enter the Quantity.">
                </div>
                <button type="submit" class="btn btn-success">Edit Job</button>
            </form>
            </col>
        </row>
        <br>
</div>  
</body>